<li class="showcase__item" itemscope itemtype="https://schema.org/SomeProducts">
    <div class="border {% if not product.available %} off {% endif %}">
        <figure class="product-image">
            <a href="{{ product.link }}"><img class="img-responsive" src="{{ product.images[0].full }}" alt="{{ product.name }}"></a>
        </figure>
            {% if product.price_offer > 0 %}
                <div class="product__offer">
                    {% set percent = 100 - ( product.price_offer / product.price ) * 100 %}
                    <span>-{{ percent|number_format }}%</span>                            
                </div> 
            {% endif %}
            {% if product.available %}
                <div class="labels">
                    {% if product.free_shipping %}
                        {% if Image('free_shipping') %}
                            <span class="free-shipping">{{ Image('free_shipping') }}</span>
                        {% else %}
                            <span class="label free-shipping">Frete Grátis</span>
                        {% endif %}
                    {% endif %}
                    {% if product.new %}
                        {% if Image('new') %}
                            <span class=" botao-new">{{ Image('new') }}</span>
                        {% else %}
                            <span class="label new">Novidade</span>
                        {% endif %}
                    {% endif %}
                    {% if product.featured %}
                    {% if Image('featured') %}
                        <span class="featured">{{ Image('featured') }}</span>
                    {% else %}
                        <span class="label featured">Destaque</span>
                    {% endif %}
                    {% endif %}
                </div>
            {% endif %}
            <div class="product-name" itemprop="name">
                <div class="brand-showcase">
                    <h4>{{ product.brand}} </h4>
                </div>
                <a href="{{ product.link }}">
                    <h3>{{ product.name|slice(0,80) }}</h3>
                </a>
            </div>
            <div class="product__rating">
                <span class="star{{ product.ranking.rating }}"></span>
             </div>
        {% if product.available %}

        <div class="product__prices">
            {# Verificação: Há Oferta ou Não #}
            {% if product.price_offer > 0 %}
            {# Preços com Oferta #}
            <h4 class="preco-de">R$ {{ product.price|currency }}</h4>
            <h4 class="preco-por">R$ {{ product.price_offer|currency }}</h4>
            {% else %}
            {# Preço Normal #}
            <h4 class="preco-de"></h4>
            <h4 class="preco-por"> R$ {{ product.price|currency }}</h4>
            {% endif %}
        </div>
        <div class="formas-pagamento-box">
            {{ product.payment }}
        </div>

        <div class="showcase__buy">
            <a class="buy__button" href="{{ product.link }}">
                <svg class="cart__icon icon--cart"> <use xlink:href="#icon-cart"></use></svg>
                Comprar
            </a>
        </div>

        {% else %}
            <div class="labels">
                <span class="label label-default unavailable">Indisponível</span>
            </div>
        {% endif %}
    </div>
</li>
